!!! Strict
%html
  %head
    %title CSI
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      = render "layouts/mck_header"
    .table
      .row
        .cell.navigation
          %ul
            %li
              = link_to "Computing Home", {:controller => :home}
            %li
              = link_to "Faculty", {:controller => :faculty}
            %li
              = link_to "MSDN FAQ", {:controller => :msdn_faq}
            %li
              %br
            %li.admin
              = link_to "Professors", {:controller => :professors}
            %li.admin
              = link_to "Blurbs", {:controller => :blurbs}
            %li.admin
              = link_to "Questions", {:controller => :questions}
        .cell#content
          %center
            %h3
              = @title || "Division of Computing"
          = yield
      .row
    #footer
      %a{:href => "http://www.mckendree.edu"}
        %img{:src => "/images/layout/McKendree_Footer_Logo.gif"}
