!!! Strict
%html
  %head
    %title CSI
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      = render "layouts/mck_header"
    .table
      .row
        .cell#navigation
          %ul
            %li
              = link_to "Computing Home", {:controller => :home}
            %li
              = link_to "Faculty", {:controller => :faculty}
            %li
              = link_to "Areas of Study", {:controller => :catalog}
        .cell#content
          %center
            %h3 Division of Computing
          = yield
      .row
    #footer
      %a{:href => "http://www.mckendree.edu"}
        %img{:src => "http://lance.mckendree.edu/csi/images/header_links/McKendree_Footer_Logo.gif"}
